{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>SuperRentals</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="super-rentals/config/environment" content="{{ config }}">
    {% if lr_enabled %}
    <script src="//localhost:{{ lr_port }}/_lr/livereload.js?port={{ lr_port }}&host=localhost&path=_lr/livereload"></script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'assets/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'assets/super-rentals.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
  </head>
  <body>
    <script src="{% static 'assets/vendor.js'%}"></script>
    <script src="{% static 'assets/super-rentals.js'%}"></script>
  </body>
</html>